@CHARSET "ISO-8859-1";

div
{
display:-webkit-flex; 
width:600px;
border:1px solid black;
}

#p1
{
-webkit-flex:3.0;
border:1px solid red;
}

#p2
{
-webkit-flex:1.0;
border:1px solid blue;
}